.calendar-main {
  align-items: center;
  justify-content: center;
  width: 100%;
  }

.calendar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  height: 370px;
  font-size: 18px;
  font-family: Open Sans;
  border: none;
}

hr {
  margin-bottom: 1rem;
}

.title {
  flex-direction: column;
  color: #000;
  font-size: 17px;
  font-family: 'open sans';
  font-weight: 500;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 17px;
  font-family: 'open sans';
  font-weight: 800;
  margin-top: 10px;
  margin-left: 20%;
}

.more-button {
  display: flex;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: white;
  border: none;
}

.more-icon {
  width: 16px;
  height: 16px;
}

.more-icon:hover {
  color: #334C7D;
  cursor: pointer;
}

.clock-icon {
  position: absolute;
  display: flex;
  margin-left: 1rem;
  margin-top: 2.2rem;
  width: 20px;
  height: 20px;
}

.calendar button {
  font-size: 18px;
  font-family: Open Sans;
}

.calendar span {
  font-size: 24px;
  font-family: Open Sans;
}

.planner-container {
  display: inline-block;
  vertical-align: middle;
  width: 36%;
  height: 370px;
}

.planner {
  text-align: center;
}

.plus-button {
  display: flex;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: white;
  border: none;
  transition: white 0.2s ease;
}

.plus-button:hover{
  color: #334C7D;
  cursor: pointer;
}

.day {
  flex-direction: column;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.day-week {
  flex-direction: column;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2rem;
}

.modal {
  visibility: hidden;
}

